---
import ProjectItem from "../components/ProjectItem"
import Layout from "../layouts/Layout.astro";
import Preview from "../components/Preview"
import Nav from "../components/Nav";
---

<Layout title="Projects">
    <Nav/>
    <div class="w-full h-screen flex flex-col items-center ">
        <div class="w-10/12 g flex justify-center border-b-2 border-black mt-24">
            <h1 class="w-6/12 text-4xl font-semibold  p-6 ">Projects</h1>
            <div class="w-5/12">
            </div>
        </div>
        
        <div class="w-10/12 m-0 flex justify-center  mt-4">
            <div class="w-6/12 flex flex-col">
            <ProjectItem client:load
            name= "UPLING"
            href= "/projects/upling/"
            tags= "Guiding students to higher ed"
            img= "/src/images/project-thumbnails/Upling.png"
            color= "#FFFFFF"/>
            <ProjectItem client:load
            name="ORBIT OVERTURE"
            href="/projects/orbit-overture"
            tags="AI Music Maker Tool"
            img="/src/images/project-thumbnails/Orbit.png"
            color= "#FFFFFF"
            />
            <ProjectItem client:load
            name="BOATY"
            href="/projects/boaty"
            tags="Branding for artist"
            img="/src/images/project-thumbnails/Boaty.png"
            color = "#FF00F2"
            />
            <ProjectItem client:load
            name="PASSPORT"
            href="/projects/passport-of-the-future"
            tags="Passport app (in the future)"
            img= "/src/images/project-thumbnails/Passport.png"
            color= "#000000"
            />
            <ProjectItem client:load
            name="LAGOS"
            href="/projects/lagos"
            tags="Wayfinding and urban design"
            img= "/src/images/project-thumbnails/Lagos.png"
            color= "#232745">
            </div>
            <div class="w-5/12"></div>
            
            
        </div>
    </div>    
</Layout>