---
import Image from "astro/components/Image.astro"
import ProjectTitle from "../../components/ProjectTitle"
import Nav from "../../components/Nav"
import Layout from "../../layouts/Layout.astro"
import Featured from "../../components/Featured"
import Text from "../../components/Text"
---
<Layout title="Lagos City Design">
    <Nav client:load/>
    <div class='mt-40 m-auto'>
        <ProjectTitle
                title="Nuances - City Identify for Lagos"
                tags= {["branding", "graphic design", "product design", "wayfinding", "design system"]}
        />
        <Text
                content="Nuances was my senior group project in my Bachelors. We were tasked with creating the city identity for lagos by creating a wayfinding system and designing urban furniture for the main plaza. To achieve we tapped into Lagos history and culture, hoping to strike a balance between refined and free-flowing."
        />
        <div class='w-10/12 m-auto mt-20'>
            <Image class="bg.wh"
                   src="/Lagos/Lagos-01.png"
                   width={2481}
                   height="4961"
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-02.png"
                   width={2481}
                   height="4961"
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-03.png"
                   width={2481}
                   height="4961"
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-04.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-05.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-06.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-07.png"
                   width="4961"
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-08.png"
                   width="4961"
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-09.png"
                   width="4961"
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-10.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-11.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-12.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-13.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-14.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-15.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-16.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-17.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-18.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-19.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-20.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-21.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-22.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-23.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-24.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-25.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-26.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-27.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-28.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
            <Image
                   src="/Lagos/Lagos-29.png"
                   width={2481}
                   height={1574}
                   alt=""
            />
        </div>
        <Featured
                prev="/projects/boaty"
                next="/projects/orbit"
        />
    </div>
</Layout>