---
import ProjectTitle from "../../components/ProjectTitle"
import Text from "../../components/Text"
import BigImage from "../../components/BigImage"
import Featured from "../../components/Featured"
import Layout from "../../layouts/Layout.astro"
import Image from "astro/components/Image.astro"
import Nav from "../../components/Nav"


---
<Layout title="Passport of the Future">
        <Nav client:load />
        <div class='mt-40 m-auto'>
        <ProjectTitle
        title="Passport of the Future"
        tags= {[ "ux/ui design", "ux research"]}
        />
        <Text
        content="This project was done as a way to better understand services and how we can improve them with new technologies.To start of we had to better understand the user’s of said services and their struggles with the current iteration of the service, in this case: The Passport and Travel Systems.Through interviews and research on the typical users and frustrations related to passports and travelling we landed on 4 different user types, or personas."
        />
        <div class=' mt-14 w-10/12 m-auto grid  gap-2 grid-cols-2 grid-rows-2'>
        <Image class='m-auto'
        src="/Passport/Persona1.png"
        width={1200}
        height={667}
               alt=""
        />
        <Image class='m-auto'
        src="/Passport/Persona4.png"
        width={1200}
        height={667}
               alt=""
        />
        <Image class='m-auto'
        src="/Passport/Persona3.png"
        width={1200}
        height={667}
               alt=""
        />
        <Image class='m-auto'
        src="/Passport/Persona2.png"
        width={1200}
        height={667}
               alt=""
        />
        </div>
        <Text
        content="We also figured out these user’s struggles and where the current system could be improved to fix them or make them easier to deal with."
        />
            <div class="w-10/12 m-auto mt-10 flex flex-col gap-10">
        <Image class='m-auto'
        src ="/Passport/Journey1.png"
        width={1400}
        height={989}
               alt=""
        />
        <Image class='m-auto'
        src ="/Passport/Journey2.png"
        width={1400}
        height={989}
               alt=""
        />
        <Image class='m-auto'
        src ="/Passport/Journey3.png"
        width={1400}
        height={989}
               alt=""
        />
        <Image class='m-auto'
        src ="/Passport/Journey4.png"
        width={1400}
        height={989}
               alt=""
        />
            </div>
        <Text class='m-auto'
        content="Upon figuring out how the system could be improved we wanted to develop a new interface for the passport, one that would not only serve as an official document but could also double as a travel companion and record all your most precious moments while traveling."
        />
       <Image class='mt-16'
        src="/Passport/Screens1.png"
        width={1400}
        height={2062}
              alt=""
        />
        <Image class='mt-16 m-auto'
        src="/Passport/Screens2.png"
        width={1400}
        height={2062}
               alt=""
        />
        <div class="mb-20"></div>
        <div class="m-auto w-10/12 h-[800px] my-10">
            <iframe class="m- auto w-full h-[50rem]" src="https://www.figma.com/proto/XzWfjuLcEjSw3Gdglgzv7w/Passaporte?embed_host=share&kind=proto&node-id=274-58726&page-id=274%3A57532&scaling=min-zoom&starting-point-node-id=274%3A58776&viewport=598%2C-15422%2C0.46"/>
        </div>
        <Featured
        prev="/projects/orbit"
        next="/projects/upling"
        />
        </div>

</Layout>